@charset "UTF-8";

body {
    font-family: var(--fonte-padrao);
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #ffffff;
    --cor1: #D9D9D9;
    --cor2: #6356e5;
    --cor3: #3a2ade;
    --cor4: #a4a4a4;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

/* Remove a rolagem lateral */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

/* Cabeçalho do projeto */
header {
    display: flex;
    background-color: var(--cor2); 
    width: 100%; 
    height: 80px;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.262);
    position: fixed;
    z-index: 1000;
}

/* Botão de expandir e logo alinhados à esquerda */
.header-left {
    display: flex;
    align-items: center;
}

/* Alinhamento à direita */
.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
}

/*Icone de notificação*/
.notificacao {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: var(--cor0);
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
}

/*Barra de pesquisa*/
.pesquisar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--cor0);
    border-radius: 30px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.403);
}

.pesquisar input {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 50px;
    font-size: 1rem;
    transition: width .2 ease-in-out;
    padding-left: 16px;

    transition: .5s;
}

.pesquisar input:focus {
    width: 380px;
    transition: .5s;
}

.pesquisar label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: var(--cor0);
    cursor: pointer;
}

/*Icone da barra de pesquisa*/
.pesquisar .icon {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
}

.pesquisar .icon::before,
.pesquisar .icon::after {
    content: "";
    position: absolute;
    display: block;
}

.pesquisar .icon::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 0;
    left: 0;
    border: 3px solid black;
}

.pesquisar .icon::after {
    width: 10px;
    height: 2px;

    transform: rotate(50deg);

    border-radius: 2px;
    background-color: black;

    right: -2px;
    bottom: 0;
}

.pesquisar input:focus+label .icon::after,
.pesquisar input:focus+label .icon::before {
    width: 100%;
    height: 3px;
    top: 50%;
    left: 50%;
    border: 0;
    border-radius: 3px;
    background-color: black;
}

.pesquisar input:focus+label .icon::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.pesquisar input:focus+label .icon::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

/*Menu lateral*/
.menu-lateral {
    width: 60px;
    height: 100%;
    background-color: #fff;
    border-right: solid 3px var(--cor1);
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 80px;
    left: 0;
    overflow: hidden;
    transition: .5s;
    z-index: 1000;
}

.menu-lateral:hover {
    width: 250px;
}

.menu-lateral.expandir {
    width: 250px;
}

.btn-expandir {
    margin-right: auto;
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i {
    font-size: 30px;
    cursor: pointer;
    color: var(--cor0);
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; 
}

ul li.ativo {
    background-color: var(--cor1);
}

ul li.item-menu {
    transition: .2s;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

ul li.item-menu:hover {
    background-color: var(--cor1);
}

ul li.item-menu a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 4%;
    display: flex;
    line-height: 40px;
    display: flex; 
    align-items: center; 
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
}

.menu-lateral.expandir .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i {
    font-size: 25px;
}

/*Div principal do site*/
main {
    padding-top: 121px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 70px;
}

/* Estilizando a logo */
.logo img {
    flex: 1;
    height: 65px; 
    padding-left: 30px;
    justify-content: center;
    cursor: pointer;
}

/*Imagens em geral*/
.img {
    display: flex;
    background-color: var(--cor1);
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.img_usuario {
    display: inline-block;
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    object-fit: cover; /* Faz com que a imagem preencha o elemento sem distorção */
    margin-right: 50px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.462);
}


/* Buttons do header*/
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.centralizar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.formulario {
    display: flex; 
    width: 90%; 
    height: 110%; 
    background-color: var(--cor0); 
    border-radius: 10px; 
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2); 
    align-items: flex-start; /* Alinha o conteúdo no topo */
}

.formulario form {
    width: 70%; 
    padding-top: 50px; 
    padding-left: 50px;
}

/*Retangulo do formulario*/
.retangulo {
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--cor2);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    flex-direction: column;
    margin-left: 50px;
}

.retangulo h1, 
.retangulo p {
    color: var(--cor0);
}

.btn_roxo {
    background-color: var(--cor2); 
    color: var(--cor0); 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-align: center; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    text-decoration: none;
}

.btn_roxo:hover {
    background-color: var(--cor3); 
}

.btn_filtro {
    background-color: #fff;
    border: solid 3px var(--cor2);
    transition: background-color 0.3s ease;
    padding: 5px 10px; 
    border-radius: 5px; 
    text-align: center; 
    cursor: pointer; 
    font-size: 16px;  
}

.btn_cinza {
    background-color: var(--cor4); 
    color: black; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-align: center; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    text-decoration: none;
}

.btn_cinza:hover {
    background-color: var(--cor1); 
}

/* Divide a tela */
.dividir_tela {
    display: flex;
    gap: 20px; 
}

/* Visualização em tempo real */
#Visualizacao-tempoReal {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: auto; 
    max-height: 600px; 
}

/* Adiciona uma borda em cima e embaixo de cada pergunta */
.pergunta-item {
    display: flex;
    padding: 10px; 
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0; 
    border: solid 1px var(--cor1);
    border-left: none;
    border-right: none;
}

/* Remover a borda superior do primeiro item e a borda inferior do último item */
.container_perguntas ul {
    padding: 0;
    list-style-type: none; 
    margin: 0;
}

/* Remove a borda inferior do último item */
.container_perguntas ul li:last-child {
    border-bottom: none; 
}

/* Parte de clicavel de acesso a página exclusiva de perguntas*/
.links {
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 3px;
    flex-direction: column;
}

.links:hover > strong {
    text-decoration: underline;
}

.links > p {
    display: contents;
    font-size: 14px;
    text-decoration: none;
}


/*Cards do blog*/
.card {
    width: 300px;
    min-height: 400px;
}

.card .card-title {
    color: black; 
    text-decoration: none; 
}

.card .card-title:hover > h5 {
    text-decoration: underline; 
}

i:hover {
    color: var(--cor3);
}

#Excluir:hover {
    color: #ff0000;
}

/*CSS das etiquetas*/
#etiquetas_sugestoes {
    list-style-type: none;
    width: 37%;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    position: absolute;
    max-height: 250px;
    overflow-y: auto;
    background-color: white;
    z-index: 1000;
}

#etiquetas_sugestoes li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

#etiquetas_sugestoes li:hover {
    background-color: var(--cor2);
    color: var(--cor0);
    transition: .2s;
}
