@charset "UTF-8";

body {
    font-family: var(--fonte-padrao);
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #ffffff;
    --cor1: #D9D9D9;
    --cor2: #6356e5;
    --cor3: #3a2ade;
    --cor4: #a4a4a4;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

/* Remove a rolagem lateral */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Impede a rolagem horizontal */
}

/* Esconde o menu lateral em telas menores que 1250px */
@media (max-width: 1250px) {
    .menu-lateral {
        display: none;
        /* Esconde o menu lateral */
    }

    .menu-lateral.expandir {
        display: block;
        /* Exibe o menu lateral quando a classe 'expandir' for adicionada */
    }
}

@media screen and (max-width: 750px) {
    .retangulo {
        display: none !important;
    }

    .img {
        display: none;
    }

    .formulario form {
        padding: 30px !important;
        width: 100% !important;

    }
}

/* Cabeçalho do projeto */
header {
    display: flex;
    background-color: var(--cor2);
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.262);
    position: fixed;
    z-index: 1000;
}

/* Botão de expandir e logo alinhados à esquerda */
.header-left {
    display: flex;
    align-items: center;
}

/* Alinhamento à direita */
.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px;
}

.icon_ajuda {
    color: black;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
}

/*Icone de notificação*/
.notificacao {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: var(--cor0);
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
}

/*Barra de pesquisa*/
.pesquisar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--cor0);
    border-radius: 30px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.403);
}

.pesquisar input {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 50px;
    font-size: 1rem;
    transition: width .2 ease-in-out;
    padding-left: 16px;

    transition: .5s;
}

.pesquisar input:focus {
    width: 380px;
    transition: .5s;
}

.pesquisar label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: var(--cor0);
    cursor: pointer;
}

/*Icone da barra de pesquisa*/
.pesquisar .icon {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
}

.pesquisar .icon::before,
.pesquisar .icon::after {
    content: "";
    position: absolute;
    display: block;
}

.pesquisar .icon::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 0;
    left: 0;
    border: 3px solid black;
}

.pesquisar .icon::after {
    width: 10px;
    height: 2px;

    transform: rotate(50deg);

    border-radius: 2px;
    background-color: black;

    right: -2px;
    bottom: 0;
}

.pesquisar input:focus+label .icon::after,
.pesquisar input:focus+label .icon::before {
    width: 100%;
    height: 3px;
    top: 50%;
    left: 50%;
    border: 0;
    border-radius: 3px;
    background-color: black;
}

.pesquisar input:focus+label .icon::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.pesquisar input:focus+label .icon::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

/*Menu lateral*/
.menu-lateral {
    width: 70px;
    /* Largura inicial do menu lateral */
    height: 100%;
    background-color: #fff;
    border-right: solid 3px var(--cor1);
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 80px;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    transition: width 0.5s ease-in-out;
}

.main-conteudo.expandido {
    margin-left: 250px;
}

.menu-lateral.expandir {
    width: 250px;
}

.btn-expandir {
    margin-right: auto;
    width: 100%;
    padding-left: 10px;
}

.btn-expandir>i {
    font-size: 30px;
    cursor: pointer;
    color: var(--cor0);
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul li.ativo {
    background-color: var(--cor1);
}

ul li.item-menu {
    transition: .2s;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

ul li.item-menu:hover {
    background-color: var(--cor1);
}

ul li.item-menu a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 4%;
    display: flex;
    line-height: 40px;
    display: flex;
    align-items: center;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
}

.menu-lateral .txt-link {
    transition: margin-left 0.5s ease;
}

.menu-lateral.expandir .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon>i {
    font-size: 25px;
}

/*Div principal do site*/
main {
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
    padding-top: 120px;
}

/* Estilizando a logo */
.logo img {
    flex: 1;
    height: 65px;
    padding-left: 30px;
    justify-content: center;
    cursor: pointer;
}

/*Imagens em geral*/
.img {
    display: flex;
    background-color: var(--cor1);
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.img_usuario {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* Faz com que a imagem preencha o elemento sem distorção */
    margin-right: 50px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.462);
}


/* Buttons do header*/
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    display: flex;
    width: 90%;
    height: 110%;
    background-color: var(--cor0);
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    /* Alinha o conteúdo no topo */
}

.formulario form {
    width: 70%;
    padding-top: 50px;
    padding-left: 50px;
}

/*Retangulo do formulario*/
.retangulo {
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 50px;
}

.retangulo h1,
.retangulo p {
    color: var(--cor0);
}

.btn_roxo {
    background-color: var(--cor2);
    color: var(--cor0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn_roxo:hover {
    background-color: var(--cor3);
}

.btn_filtro {
    background-color: #fff;
    border: solid 2px var(--cor2);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.btn_filtro:hover {
    background-color: var(--cor2);
    color: var(--cor0);
    transition: background-color 0.3s ease;
}

.btn_cinza {
    background-color: var(--cor4);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn_cinza:hover {
    background-color: var(--cor1);
}

.btn_denunciar_excluir {
    background-color: var(--cor0);
    border: 0px;
    padding: 5px;
}

.btn_denunciar_excluir:hover {
    background-color: var(--cor4);
    border-radius: 20px;
    color: var(--cor0);
    transition: .2s;
}

.btn_melhor_comentario {
    background-color: var(--cor0);
    border: 0px;
    padding: 5px;
}

.btn_melhor_comentario:hover {
    background-color: rgba(0, 128, 0, 0.907);
    border-radius: 20px;
    color: var(--cor0);
    transition: .2s;
}

/* Botão "Marcar como lida" */
.btn-marcar-lida {
    background-color: #fff;
    color: var(--cor2);
    border: 2px solid var(--cor2);
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    margin-left: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-right: 10px;
}

.btn-marcar-lida:hover {
    background-color: var(--cor2);
    color: #fff;
    box-shadow: 0px 4px 10px rgba(58, 42, 222, 0.2);
}

.btn-marcar-lida:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(58, 42, 222, 0.4);
}

.pergunta-item {
    display: flex;
    padding: 20px;
    margin: 10px 0;
    border: solid 1px var(--cor1);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.386);
}


/* Remover a borda superior do primeiro item e a borda inferior do último item */
.container_perguntas ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

/* Remove a borda inferior do último item */
.container_perguntas ul li:last-child {
    border-bottom: none;
}

/* Parte de clicavel de acesso a página exclusiva de perguntas*/
.links {
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 3px;
    flex-direction: column;
}

.links:hover>strong {
    text-decoration: underline;
}

.links>p {
    display: contents;
    font-size: 14px;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s, box-shadow 0.5s;
}

.card img {
    width: 100%;
    height: 180px;
    /* Define a altura da imagem para manter a proporção */
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.card .card-title {
    color: black;
    text-decoration: none;
}

.card .card-title:hover>h5 {
    text-decoration: underline;
}

/*Icone categoria*/
.icon_categoria {
    color: var(--cor3);
    margin-right: 5px;
}

/*Ficar roxo quando o mouse estiver no icone*/
.icon_roxo:hover {
    color: var(--cor3);
}

/*Ficar vermelho quando o mouse estiver no icone*/
.icon_vermelho:hover {
    color: #ff0000;
}

/* CSS das etiquetas */
#etiquetas_sugestoes {
    list-style-type: none;
    width: 300px;
    padding: 0;
    margin: 0;
    position: absolute;
    max-height: 250px;
    overflow-y: auto;
    background-color: white;
    z-index: 1000;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

#etiquetas_sugestoes li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

#etiquetas_sugestoes li:hover {
    background-color: var(--cor2);
    color: var(--cor0);
    transition: .2s;
}

em {
    font-size: 14px;
}


/* Estilo para o contêiner principal da IA */
.ia-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para o campo de entrada da pergunta */
.ia-input {
    margin-bottom: 20px;
}

.ia-input label {
    font-size: 1.2em;
    color: #333;
}

#pergunta {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
}

/* Estilo para a resposta da IA */
.ia-resposta {
    margin-top: 20px;
}

.ia-resposta h2 {
    font-size: 1.5em;
    color: #333;
}

#resposta {
    font-size: 1.1em;
    color: #555;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 4px;
}

/*Input de lista de usuários*/
.input_roxo {
    border: 2px solid #6356e5;
    border-radius: 25px;
    padding: 10px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
}

th,
td {
    text-align: center;
}


.btn-outline-success {
    border-radius: 25px;
}

/*Tabela de lista de usuários*/
.table {
    color: #333;
    margin-top: 20px;
}

.table th {
    background-color: #6356e5;
    color: #fff;
    border: none;
}

.table td {
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #f0f0f5;
}

/**Página de ajuda (explicação do site)/
/* Estilo para as Seções */
section {
    margin-bottom: 40px;
}

.introducao h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.introducao p,
.como-funciona p,
.premios-e-beneficios p,
.como-moderador p,
.beneficios-moderadores p,
.como-participar p {
    font-size: 1.1rem;
    line-height: 1.6;
}


.introducao ul li,
.como-funciona ul li,
.premios-e-beneficios ul li,
.como-moderador ul li,
.beneficios-moderadores ul li {
    font-size: 1.1rem;
}


.tabs {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tabs button {
    padding: 10px 20px;
    background-color: var(--cor2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.tabs button.active {
    background-color: var(--cor3);
}

.pagination-btn {
    color: #6356e5;
    border-color: #6356e5;
}

.pagination-btn.active {
    background-color: #6356e5;
    color: #fff;
}

.pagination-btn:hover {
    background-color: #6356e5;
    color: #fff;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-btn {
    margin: 0 2px;
    /* Espaçamento entre os botões */
}

h1,
h2 {
    color: #6356e5;
}

a {
    text-decoration: none;
}

/* Estilo para o botão circular */
.btn-circle {
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(99, 86, 229, 0.4);
}

/* Filtro de foco para botão de filtro */
.btn-outline-primary:hover {
    background-color: #6356e5;
    color: #fff;
    border-color: #6356e5;
}

/* Estilo da barra de pesquisa */
form.d-flex input.form-control {
    border: 1px solid var(--cor4);
    border-radius: 30px;
    padding: 10px 20px;
    transition: border-color 0.3s;
}

form.d-flex input.form-control:focus {
    border-color: #6356e5;
    box-shadow: 0 0 5px rgba(99, 86, 229, 0.5);
}

.btn_adicionar_pergunta_blog {
    width: 50px;
    height: 50px;
    background-color: var(--cor2);
    color: var(--cor0);
    text-decoration: none;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background-color 0.3s; 
}

.btn_adicionar_pergunta_blog:hover {
    background-color: var(--cor3);
    transform: scale(1.1); 
}
