<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <h1>Tela de cadastro</h1>

    <form action="" method="POST">
        <input type="text" name="email" id="email" placeholder="E-mail">
        <br><br>
        <input type="text" name="nomeCompleto" id="nomeCompleto" placeholder="Nome completo (Opcional)">
        <br><br>
        <input type="text" name="nomeUsuario" id="nomeUsuario" placeholder="Nome de usuário">
        <br><br>
        <input type="password" name="senha" id="senha" placeholder="Senha">
        <br><br>
        <input type="file" name="foto_perfil">
        <br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>