<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar usuário - DevSolve</title>

    <!--Arquivos extenos-->
    {% include 'arquivos_externos.html' %}
</head>
<body>
    <main class="centralizar">
        <div class="formulario">
            <!-- Formulário da tela de cadastro de usuário -->
            <form action="{{ url_for('cadastrar_route.cadastrar') }}" method="POST" enctype="multipart/form-data" onsubmit="return validarFormulario()">
                <h1>Seja bem-vindo!!!</h1>
                <p>Cadastra-se para entrar na maior comunidade de programadores!!!</p>

                <!-- Campo de e-mail -->
                <div class="mb-1" style="margin-top: 30px;">
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
                    <div id="emailErro" class="invalid-feedback">
                        Por favor, insira um e-mail válido.
                    </div>
                </div>
                <br>

                <!-- Campo de nome completo -->
                <div class="mb-1">
                    <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" placeholder="Nome completo (Opcional)">
                </div>
                <br>

                <!-- Campo de nome de usuário -->
                <div class="mb-1">
                    <input type="text" class="form-control" id="nomeUsuario" name="nomeUsuario" placeholder="Nome de usuário" required>
                    <div id="nomeUsuarioErro" class="invalid-feedback">
                        Por favor, insira outro nome de usuário.
                    </div>
                </div>
                <br>

                <!-- Campo de senha -->
                <div class="mb-1">
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required>
                    <div id="senhaErro" class="invalid-feedback">
                        Por favor, insira uma senha de pelo menos 6 caracteres.
                    </div>
                </div>
                <br>

                <!-- Link para login -->
                <p>Já possui uma conta? <a href="{{ url_for('login_route.login') }}">Clique aqui para entrar</a></p>

                <!-- Botão de envio -->
                <input type="submit" value="Criar conta" class="btn_roxo">
            </form>

            <!--Parte direita-->
            <div class="retangulo">
                <h1>DevSolve</h1>
                <p>A solução está a um Dev de distância</p>
                <div class="img"><img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site"></div>
            </div>
        </div>
    </main>
</body>
</html>
