<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Blog</title>
    <!--Link do favicoon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='Imagens/Foto_logo_Icone.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>Criar Novo Blog</h1>
    <form action="{{ url_for('blog_route.criar_blog') }}" method="POST">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" id="titulo" required><br><br>

        <label for="descricao">Descrição:</label>
        <textarea name="descricao" id="descricao" rows="10" required></textarea><br><br>

        <label for="categoria">Categoria:</label>
        <select name="categoria" id="categoria" required>
            {% for categoria in categorias %}
            <option value="{{ categoria.codigo }}">{{ categoria.nome }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Publicar</button>
    </form>
</body>
</html>
