<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog.titulo }} - DevSolve</title>
    <!--Link do CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/estilo.css') }}">

    <!--Link do bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--Link do favicoon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='Imagens/Foto_logo_Icone.ico') }}"
        type="image/x-icon">

    <!--Link do quilljs, editor de texto online-->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!--Arquivo JS dos avisos-->
    <script src="{{ url_for('static', filename='js/aviso.js') }}"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('blog_route.listar_blogs') }}">
                <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
            </a>
        </div>
    </header>

    <main>
        <div class="d-flex align-items-center justify-content-between">
            <!-- Esquerda: Foto, Nome e Data -->
            <div class="d-flex align-items-center">
                <div class="p-2">
                    <a
                        href="{{ url_for('usuario_route.perfil_outro_usuario', user_id=blog.usuario_relacionado.codigo) }}">
                        <img src="{{ blog.usuario_relacionado.foto_perfil if blog.usuario_relacionado.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                            alt="Foto de perfil" width="70" height="70" class="rounded-circle mb-3">
                    </a>
                </div>
                <div class="p-2">
                    <p class="mb-0"><strong>{{ blog.usuario_relacionado.nomeUsuario }}</strong></p>
                    <p class="mb-0"><em>{{ blog.data_criacao.strftime('%d/%m/%y') }}</em></p>
                </div>
            </div>

            <!-- Direita: Ícones de edição, exclusão e denúncia -->
            <div class="d-flex align-items-center p-2">
                <!-- Botões de edição e exclusão - visíveis apenas para o dono do blog -->
                {% if current_user.codigo == blog.codUsuario %}
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    style="color: black;">
                    <i class="bi bi-pencil-square icon_roxo" style="font-size: 25px;"></i>
                </button>

                <!-- Modal de editar blog -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar blog</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('blog_route.editar_blog', blog_id=blog.codigo) }}"
                                    method="POST">
                                    <input type="text" name="titulo" id="titulo" class="form-control"
                                        value="{{ blog.titulo }}"><br>
                                    <div id="editor-geral" style="height: 300px;">{{ blog.descricao | safe }}</div>
                                    <input type="hidden" name="descricao" id="descricao">
                                    <br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn_cinza" data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn_roxo">Salvar alterações</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Ícone de excluir -->
                <button type="button" class="btn p-0" style="border: none; background-color: transparent;"
                    data-bs-toggle="modal" data-bs-target="#ExcluirBlog{{ blog.codigo }}" style="color:black;">
                    <i class="bi bi-trash icon_vermelho" style="font-size: 25px;"></i>
                </button>

                <!-- Modal de excluir blog -->
                <div class="modal fade" id="ExcluirBlog{{ blog.codigo }}" tabindex="-1"
                    aria-labelledby="modalExcluirBlogLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Excluir blog?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Você quer mesmo excluir este blog?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <form action="{{ url_for('blog_route.excluir_blog', blog_id=blog.codigo) }}"
                                    method="POST">
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% else %}

                <!-- Exibir os botões de Like e Deslike apenas para quem não é o dono do blog -->
                <form action="{{ url_for('blog_route.like_blog', blog_id=blog.codigo) }}" method="POST"
                    style="display:inline;">
                    <button type="submit" class="btn p-0" style="border: 0; background-color: transparent;">
                        <i class="bi bi-hand-thumbs-up icon_roxo" style="font-size: 25px; margin-right: 10px;"></i>
                    </button>
                </form>
                <span style="margin-right: 12px;">{{ blog.quantidade_likes }}</span>
                <!-- Exibe a quantidade de likes -->

                <form action="{{ url_for('blog_route.deslike_blog', blog_id=blog.codigo) }}" method="POST"
                    style="display:inline;">
                    <button type="submit" class="btn p-0" style="border: 0; background-color: transparent;">
                        <i class="bi bi-hand-thumbs-down icon_vermelho" style="font-size: 25px; margin-left: 10px;"></i>
                    </button>
                </form>
                <span style="margin-left: 10px;">{{ blog.quantidade_deslikes }}</span>
                <!-- Exibe a quantidade de deslikes -->
                {% endif %}

                <!-- Botão de Denunciar - visível apenas para usuários não proprietários do blog -->
                {% if current_user.is_authenticated and current_user.codigo != blog.codUsuario %}
                <button type="button" class="btn p-0" style="border: none; background-color: transparent;"
                    data-bs-toggle="modal" data-bs-target="#modalDenunciar{{ blog.codigo }}">
                    <i class="bi bi-flag" style="color:rgb(255, 0, 0); font-size: 25px; margin-left: 30px;"></i>
                </button>
                {% endif %}

                {% if current_user.is_authenticated and current_user.codigo != blog.codUsuario %}
                <!-- Modal de Denunciar -->
                <div class="modal fade" id="modalDenunciar{{ blog.codigo }}" tabindex="-1"
                    aria-labelledby="modalDenunciaLabel{{ blog.codigo }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalDenunciaLabel{{ blog.codigo }}">Denunciar
                                    blog?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('denuncia_route.denunciar_blog', blog_id=blog.codigo) }}"
                                    method="POST">
                                    <div class="form-group">
                                        <label for="descricao">Explique o motivo da denúncia:</label>
                                        <textarea class="form-control" id="descricao_denuncia" name="descricao_denuncia"
                                            rows="4" required></textarea>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger">Denunciar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <br>

        <!--Aqui está marcado a categoria do blog, arrumar para aparecer a cor correspondente depois-->
        <p>Categoria: {{ blog.categoria_relacionada.nome }}</p>

        <h1>{{ blog.titulo }}</h1>

        <!--Conteúdo do blog-->
        <div>{{ blog.descricao | safe }}</div>

        <br>

        {% if current_user.is_authenticated %}
        <h3>Deixe seu Comentário</h3>
        <!--Formulario para o usuário adicionar seu comentario no site-->
        <form action="{{ url_for('blog_route.comentario_blog', blog_id=blog.codigo) }}" method="POST">
            <label for="comentario"></label>
            <div id="editor-comentario" style="height: 300px;"></div>
            <input type="hidden" name="conteudo_comentario" id="comentario">
            <br>
            <button type="submit" class="btn_roxo">Enviar Comentário</button>
        </form>
        {% else %}
        <!--Caso o usuário ainda não esteja logado, para conseguir escrever comentarios-->
        <a href="{{ url_for('login_route.login') }}" class="btn_roxo">Faça login para comentar.</a>
        {% endif %}

        <!-- Comentários dos usuários -->
        <h2 style="margin-top: 20px;">Comentários</h2>
        <br>
        <ul>
            {% if comentarios %}
            {% for comentario in comentarios %}
            <li class="mb-5">
                <div class="d-flex align-items-center justify-content-between">
                    <!-- Esquerda: Foto, Nome e Data -->
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <a
                                href="{{ url_for('usuario_route.perfil_outro_usuario', user_id=blog.usuario_relacionado.codigo) }}">
                                <img src="{{ blog.usuario_relacionado.foto_perfil if blog.usuario_relacionado.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                                    alt="Foto de perfil" width="50" height="50" class="rounded-circle mb-3">
                            </a>
                        </div>
                        <div>
                            <p class="mb-1">
                                <strong>{{ comentario.usuario_relacionado.nomeUsuario }}</strong>
                                {% if comentario.denuncias|length > 0 %}
                                <button class="badge bg-danger text-white" style="margin-left: 10px; border: 0px;"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalVerDenuncias{{ comentario.codigo }}">Denunciado</button>
                                {% endif %}
                            </p>
                            <p class="mb-1"><em>{{ comentario.data_criacao.strftime('%d/%m/%y') }}</em></p>
                        </div>
                    </div>
                </div>

                <!-- Descrição do comentário -->
                <div class="ms-5">
                    <p class="mb-2">{{ comentario.comentario | safe }}</p>
                </div>

                <!-- Botões de curtida, descurtir e denúncia -->
                <div class="d-flex align-items-center ms-5" style="gap: 10px;">
                    <!-- Botão de Curtir para Comentário do Blog -->
                    <form action="{{ url_for('blog_route.like_comentario_blog', comentario_id=comentario.codigo) }}"
                        method="POST" style="display:inline;">
                        <button type="submit" class="btn p-0" style="border: 0; background-color: transparent;">
                            <i class="bi bi-hand-thumbs-up icon_roxo" style="font-size: 20px;"></i>
                        </button>
                    </form>
                    <span>{{ comentario.quantidade_likes }}</span> <!-- Exibe a quantidade de likes -->

                    <!-- Botão de Descurtir para Comentário do Blog -->
                    <form action="{{ url_for('blog_route.deslike_comentario_blog', comentario_id=comentario.codigo) }}"
                        method="POST" style="display:inline;">
                        <button type="submit" class="btn p-0" style="border: 0; background-color: transparent;">
                            <i class="bi bi-hand-thumbs-down icon_vermelho" style="font-size: 20px;"></i>
                        </button>
                    </form>
                    <span>{{ comentario.quantidade_deslikes }}</span> <!-- Exibe a quantidade de deslikes -->

                    <!-- Botão de Excluir comentario (se o usuário for dono do comentário) -->
                    {% if current_user.codigo == comentario.codUsuario %}
                    <button type="button" data-bs-toggle="modal"
                        data-bs-target="#modalExcluirComentario{{ comentario.codigo }}" class="btn_denunciar_excluir">
                        Excluir
                    </button>
                    {% endif %}
                </div>

                <!-- Modal para ver as denúncias -->
                <div class="modal fade" id="modalVerDenuncias{{ comentario.codigo }}" tabindex="-1"
                    aria-labelledby="modalDenunciasLabel{{ comentario.codigo }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Denúncias para o Comentário: {{ comentario.comentario | safe }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    {% if comentario.denuncias|length > 0 %}
                                    {% for denuncia in comentario.denuncias %}
                                    <li>{{ denuncia.descricao }} - {{ denuncia.data_criacao.strftime('%d/%m/%y') }}</li>
                                    {% endfor %}
                                    {% else %}
                                    <li>Nenhuma denúncia registrada para este comentário.</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de excluir comentario (se o usuário for dono do comentário) -->
                {% if current_user.codigo == comentario.codUsuario %}
                <div class="modal fade" id="modalExcluirComentario{{ comentario.codigo }}" tabindex="-1"
                    aria-labelledby="modalExcluirComentarioLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Excluir comentário?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Você quer mesmo excluir o comentário?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <form
                                    action="{{ url_for('blog_route.excluir_comentario_blog', comentario_id=comentario.codigo) }}"
                                    method="GET">
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </li>
            {% endfor %}
            {% else %}
            <p>Não há comentários ainda. Seja o primeiro a comentar!</p>
            {% endif %}
        </ul>
    </main>

    <!--Arquivo JS do Editor Online-->
    <script src="{{ url_for('static', filename='js/editorOnline.js') }}"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>