<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog.titulo }} - DevSolve</title>
    <!--Link do CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/estilo.css') }}">

    <!--Link do bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--Link do favicoon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='Imagens/Foto_logo_Icone.ico') }}"
        type="image/x-icon">

    <!--Link do quilljs, editor de texto online-->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home.homePergunta') }}">
                <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
            </a>
        </div>
    </header>

    <main>
        <div class="d-flex align-items-center justify-content-between">
            <!-- Esquerda: Foto, Nome e Data -->
            <div class="d-flex align-items-center">
                <div class="p-2">
                    <img src="{{ blog.usuario_relacionado.foto_perfil if blog.usuario_relacionado.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                        alt="Foto de Perfil" width="70" height="70" class="rounded-circle">
                </div>
                <div class="p-2">
                    <p class="mb-0"><strong>{{ blog.usuario_relacionado.nomeUsuario }}</strong></p>
                    <p class="mb-0"><em>{{ blog.data_criacao.strftime('%d-%m-%y') }}</em></p>
                </div>
            </div>

            <!-- Direita: Ícones de edição e exclusão -->
            <div class="d-flex align-items-center p-2">
                <!--Somente para quer for o dono do blog-->
                {% if current_user.codigo == blog.codUsuario %}
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    style="color: black;">
                    <i class="bi bi-pencil-square" style="font-size: 25px;"></i>
                </button>

                <!--Modal de editar pergunta-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar blog</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('blog_route.editar_blog', blog_id=blog.codigo) }}"
                                    method="POST">
                                    <!--Titulo do blog do usuário-->
                                    <input type="text" name="titulo" id="titulo" class="form-control"
                                        value="{{ blog.titulo }}"><br>
                                    <!--Descrição do blog do usuário-->
                                    <div id="editor-geral" style="height: 300px;">{{ blog.descricao | safe }}</div>
                                    <input type="hidden" name="descricao" id="descricao">
                                    <br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn_cinza" data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn_roxo">Salvar alterações</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Ícone de excluir -->
                <button type="button" class="btn p-0" style="border: none; background-color: transparent;"
                    data-bs-toggle="modal" data-bs-target="#ExcluirBlog{{ blog.codigo }}">
                    <i class="bi bi-trash" style="color:black; font-size: 25px; margin-left: 10px;"></i>
                </button>

                <!-- Modal de excluir blog (se o usuário for dono do blog) -->
                {% if current_user.codigo == blog.codUsuario %}
                <div class="modal fade" id="ExcluirBlog{{ blog.codigo }}" tabindex="-1"
                    aria-labelledby="modalExcluirBlogLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Excluir blog?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Você quer mesmo excluir este blog?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <form action="{{ url_for('blog_route.excluir_blog', blog_id=blog.codigo) }}"
                                    method="POST">
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <br>

        <!--Aqui está marcado a categoria do blog, arrumar para aparecer a cor correspondente depois-->
        <p>Categoria: {{ blog.categoria_relacionada.nome }}</p>

        <h1>{{ blog.titulo }}</h1>

        <!--Conteúdo do blog-->
        <div>{{ blog.descricao | safe }}</div>

        <br>

        {% if current_user.is_authenticated %}
        <h3>Deixe seu Comentário</h3>
        <!--Formulario para o usuário adicionar seu comentario no site-->
        <form action="{{ url_for('blog_route.comentario_blog', blog_id=blog.codigo) }}" method="POST">
            <label for="comentario"></label>
            <div id="editor-comentario" style="height: 300px;"></div>
            <input type="hidden" name="conteudo_comentario" id="comentario">
            <br>
            <button type="submit" class="btn_roxo">Enviar Comentário</button>
        </form>
        {% else %}
        <!--Caso o usuário ainda não esteja logado, para conseguir escrever comentarios-->
        <a href="{{ url_for('login_route.login') }}" class="btn_roxo">Faça login para comentar.</a>
        {% endif %}

        <!-- Comentários dos usuários -->
        <h2 style="margin-top: 20px;">Comentários</h2>
        <br>
        <ul>
            {% if comentarios %}
            {% for comentario in comentarios %}
            <li class="mb-5">
                <div class="d-flex align-items-center justify-content-between">
                    <!-- Esquerda: Foto, Nome e Data -->
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <img src="{{ comentario.usuario_relacionado.foto_perfil if comentario.usuario_relacionado.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                                alt="Foto de Perfil" width="50" height="50" class="rounded-circle">
                        </div>
                        <div>
                            <p class="mb-1">
                                <strong>{{ comentario.usuario_relacionado.nomeUsuario }}</strong>
                                {% if comentario.denuncias|length > 0 %}
                                <button class="badge bg-danger text-white" style="margin-left: 10px; border: 0px;"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalVerDenuncias{{ comentario.codigo }}">Denunciado</button>
                                {% endif %}
                            </p>
                            <p class="mb-1"><em>Data</em></p>
                        </div>
                    </div>
                </div>

                <!-- Descrição do comentário -->
                <div class="ms-5">
                    <p class="mb-2">{{ comentario.comentario | safe }}</p>
                </div>

                <!-- Botões de curtida, descurtir e denúncia -->
                <div class="d-flex align-items-center ms-5" style="gap: 10px;">
                    <!-- Botão de Curtir -->
                    <form action="#" method="POST" style="display:inline;">
                        <button type="submit" class="btn p-0" style="border: 0; background-color: transparent;">
                            <i class="bi bi-hand-thumbs-up" style="font-size: 20px;"></i>
                        </button>
                    </form>
                    <span>{{ comentario.quantidadeCurtidas }}</span>

                    <!-- Botão de Denunciar -->
                    {% if current_user.is_authenticated and current_user.codigo != comentario.codUsuario %}
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modalDenunciar{{ comentario.codigo }}"
                        style="font-size: 14px;" class="btn_denunciar_excluir">
                        Denunciar
                    </button>
                    {% endif %}

                    <!-- Botão de Excluir comentario (se o usuário for dono do comentário) -->
                    {% if current_user.codigo == comentario.codUsuario %}
                    <button type="button" data-bs-toggle="modal"
                        data-bs-target="#modalExcluirComentario{{ comentario.codigo }}" class="btn_denunciar_excluir">
                        Excluir
                    </button>
                    {% endif %}
                </div>

                <!-- Modal para ver as denúncias -->
                <div class="modal fade" id="modalVerDenuncias{{ comentario.codigo }}" tabindex="-1"
                    aria-labelledby="modalDenunciasLabel{{ comentario.codigo }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Denúncias para o Comentário: {{ comentario.comentario | safe }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    {% if comentario.denuncias|length > 0 %}
                                    {% for denuncia in comentario.denuncias %}
                                    <li>{{ denuncia.descricao }} - {{ denuncia.data_criacao.strftime('%d/%m/%y') }}</li>
                                    {% endfor %}
                                    {% else %}
                                    <li>Nenhuma denúncia registrada para este comentário.</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de Denunciar -->
                <div class="modal fade" id="modalDenunciar{{ comentario.codigo }}" tabindex="-1"
                    aria-labelledby="modalDenunciaLabel{{ comentario.codigo }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalDenunciaLabel{{ comentario.codigo }}">Denunciar
                                    comentário?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body">
                                <form
                                    action="{{ url_for('denuncia_route.denunciar', comentario_id=comentario.codigo) }}"
                                    method="POST">
                                    <div class="form-group">
                                        <label for="descricao">Explique o motivo da denúncia:</label>
                                        <textarea class="form-control" id="descricao" name="descricao" rows="4"
                                            required></textarea>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger">Denunciar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de excluir comentario (se o usuário for dono do comentário) -->
                {% if current_user.codigo == comentario.codUsuario %}
                <div class="modal fade" id="modalExcluirComentario{{ comentario.codigo }}" tabindex="-1"
                    aria-labelledby="modalExcluirComentarioLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Excluir comentário?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Você quer mesmo excluir o comentário?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <form
                                    action="{{ url_for('blog_route.excluir_comentario_blog', comentario_id=comentario.codigo) }}"
                                    method="GET">
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </li>
            {% endfor %}
            {% else %}
            <p>Não há comentários ainda. Seja o primeiro a comentar!</p>
            {% endif %}
        </ul>
    </main>

    <!--Arquivo JS do Editor Online-->
    <script src="{{ url_for('static', filename='js/editorOnline.js') }}"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>