<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog.titulo }}</title>
</head>
<body>
    <h1>{{ blog.titulo }}</h1>
    <p>Categoria: {{ blog.categoria_relacionada.nome }}</p>
    <p><em>{{ blog.data_criacao.strftime('%Y-%m-%d') }}</em></p>

    <div>{{ blog.descricao | safe }}</div>

    <p>Publicado por: {{ blog.usuario_relacionado.nomeUsuario }}</p>

    {% if current_user.codigo == blog.codUsuario %}
        <a href="{{ url_for('blog_route.editar_blog', blog_id=blog.codigo) }}">Editar Blog</a>
        {% endif %}
    <br>
        <a href="{{ url_for('blog_route.listar_blogs') }}">Voltar para os blogs</a>
        {% if current_user.is_authenticated %}
        <h3>Deixe seu Comentário</h3>
        <form action="{{ url_for('blog_route.blog_detalhe', blog_id=blog.codigo) }}" method="POST">
            <label for="comentario">Seu Comentário:</label>
            <br>
            <textarea name="conteudo_comentario" id="comentario" rows="5" required></textarea><br>
            <button type="submit">Enviar Comentário</button>
        </form>
        {% else %}
        <p><a href="{{ url_for('login_route.login') }}">Faça login para comentar.</a></p>
        {% endif %}
        <h2>Comentários</h2>
        <ul>
            {% if comentarios %}
                {% for comentario in comentarios %}
                    <li>
                        {{ comentario.comentario }} - <em>{{ comentario.usuario_relacionado.nomeUsuario }}</em>
                        {% if current_user.codigo == comentario.codUsuario %}
                        <form action="{{ url_for('blog_route.excluir_comentario', comentario_id=comentario.codigo) }}" method="POST" onsubmit="return confirm('Você tem certeza que deseja excluir este comentário?');" style="display:inline;">
                            <button type="submit">Excluir</button>
                        </form>
                        
                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
                <p>Não há comentários ainda. Seja o primeiro a comentar!</p>
            {% endif %}
        </ul>

    </main>
</body>
</html>
