<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ etiqueta.nome }} - DevSolve</title>
</head>
<body>
    <header>
        <!-- Botão de expandir e logo alinhados à esquerda -->
        <div class="header-left">
            <div class="btn-expandir">
                <i class="bi bi-list" id="btn-exp"></i>
            </div>
            <div class="logo">
                <a href="{{ url_for('home.homePergunta') }}">
                    <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
                </a>
            </div>
        </div>

        <!--Icone de notificação e perfil-->
        {% include 'icone_notificacao_perfil.html' %}
    </header>

    <main class="main-conteudo">
        <!-- Chamando o arquivo menu_lateral.html -->
        {% include 'menu_lateral.html' %}

        <h1>Resultados para a Etiqueta: {{ etiqueta.nome }}</h1>
        <p><strong>{{ etiqueta.popularidade }}</strong> pessoas usaram esta etiqueta.</p>

        <div class="tabs">
            <!-- Botões para alternar entre perguntas e blogs -->
            <button id="btn-perguntas" class="active">Perguntas</button>
            <button id="btn-blogs">Blogs</button>
        </div>

        <!-- Seção de perguntas -->
        <div id="perguntas" class="etiquetas-conteudo">
            <div class="container_perguntas">
                {% if perguntas %}
                <ul>
                    {% for pergunta in perguntas %}
                    <li class="pergunta-item">
                        <!-- Imagem do usuário -->
                        <div class="img_usuario">
                            <a
                                href="{{ url_for('usuario_route.perfil_outro_usuario', user_id=pergunta.usuario_relacionado.codigo) }}">
                                <img src="{{ pergunta.usuario_relacionado.foto_perfil if pergunta.usuario_relacionado.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                                    alt="Foto de perfil" width="52" height="52" class="rounded-circle mb-3">
                            </a>
                        </div>

                        <!-- Detalhes da pergunta -->
                        <a href="{{ url_for('pergunta_route.detalhes_pergunta', pergunta_id=pergunta.codigo) }}"
                            class="links">
                            <strong>{{ pergunta.titulo }}</strong>
                            <p>{{ pergunta.descricao[:80] | safe }}{% if pergunta.descricao|length > 100 %}...{% endif
                                %}</p>
                            <p>Leia mais</p>
                            <br>
                            <p>{{ pergunta.categoria_relacionada.nome }}</p>
                            {% for rel in pergunta.etiquetas %}
                            <p>{{ rel.nome }}</p>
                            {% endfor %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <h2 style="text-align: center;">Não encontramos resultados para '{{ etiqueta.nome }} na sessão perguntas'. Tente ir na sessão de blogs ou explore outras perguntas!</h2>
                {% endif %}
            </div>
        </div>

        <!-- Seção de blogs -->
        <div id="blogs" class="etiquetas-conteudo" style="display: none;">
            <div class="container mt-5">
                {% if blogs %}
                <div class="row justify-content-center">
                    {% for blog in blogs %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
                        <div class="card flex-fill">
                            <img src="{{ blog.fotoCapa_blog if blog.fotoCapa_blog else url_for('static', filename='Imagens/default_blog_cover.png') }}"
                                alt="Foto da Capa do Blog" class="img-fluid card-img-top">
                            <div class="card-body d-flex flex-column">
                                <a href="{{ url_for('blog_route.detalhes_blog', blog_id=blog.codigo) }}"
                                    class="card-title">
                                    <h5>{{ blog.titulo }}</h5>
                                </a>
                                <p class="card-text">{{ blog.descricao[:80] | safe }}{% if blog.descricao|length > 80
                                    %}...{% endif %}</p>
                                <p><i class="bi bi-bookmark-fill icon_categoria"></i> {{ blog.categoria_relacionada.nome
                                    }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <h2 style="text-align: center;">Não encontramos resultados para '{{ etiqueta.nome }}' na sessão de blogs. Tente ir na sessão de perguntas ou explore outros blogs!</h2>
                {% endif %}
            </div>
        </div>
    </main>

    <!--Icone de ajuda-->
    {% include 'footer.html' %}

    <!--Arquivos extenos-->
    {% include 'arquivos_externos.html' %}
</body>
</html>