<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Blog</title>
</head>
<body>
    <h1>Editar Blog</h1>
    <form action="{{ url_for('blog_route.editar_blog', blog_id=blog.codigo) }}" method="POST">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" id="titulo" value="{{ blog.titulo }}" required><br><br>
        <label for="descricao">Descrição:</label>
        <textarea name="descricao" id="descricao" rows="5" required>{{ blog.descricao }}</textarea><br><br>
        <button type="submit">Salvar</button>
    </form>

    <form action="{{ url_for('blog_route.excluir_blog', blog_id=blog.codigo) }}" method="POST" onsubmit="return confirm('Você tem certeza que deseja excluir esta blog?');">
        <button type="submit">Excluir Blog</button>
    </form>

</body>
</html>
