<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiquetas - DevSolve</title>

    <!--Arquivos extenos-->
    {% include 'arquivos_externos.html' %}
</head>
<body>
    <header>
        <!-- Botão de expandir e logo alinhados à esquerda -->
        <div class="header-left">
            <div class="btn-expandir">
                <i class="bi bi-list" id="btn-exp"></i>
            </div>
            <div class="logo">
                <a href="{{ url_for('home.homePergunta') }}">
                    <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
                </a>
            </div>
        </div>

        <!--Icone de notificação e perfil-->
        {% include 'icone_notificacao_perfil.html' %}
    </header>

    <main class="main-conteudo">
        <!--Chamando o arquivo menu_lateral.html-->
        {% include 'menu_lateral.html' %}

        <div class="row">
            <div class="col-12">
                <h1>Etiquetas</h1>
                <p>Veja as etiquetas populares usadas pela comunidade:</p>
            </div>
        </div>

        <div class="row">
            {% for etiqueta in etiquetas %}
                <div class="col-md-4 col-lg-3 mb-4">
                    <a href="{{ url_for('etiqueta.mostrar_etiqueta', etiqueta_id=etiqueta.codigo) }}" class="card rounded" style="padding-bottom: 10px;">
                        <div class="card-body">
                            <!--Nome da etiqueta-->
                            <h5 class="card-title">{{ etiqueta.nome }}</h5>
                            <!--Número de usuários que usaram está etiqueta-->
                            <p class="card-text">{{ etiqueta.popularidade }} pessoas usaram esta etiqueta</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>        
    </main>

    <!--Icone de ajuda-->
    {% include 'footer.html' %}
</body>
</html>
