<!--Arquivo do cabeçalho, com o icone de pesquisa, de notificação e foto do usuário-->

<!-- Botão de expandir e logo alinhados à esquerda -->
<div class="header-left">
    <div class="btn-expandir">
        <i class="bi bi-list" id="btn-exp"></i>
    </div>
    <div class="logo">
        <a href="{{ url_for('home.homePergunta') }}">
            <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
        </a>
    </div>
</div>

<!-- Ícones e imagem de usuário à direita -->
<div class="header-right">
    {% if current_user.is_authenticated %}

    <!--Barra de pesquisa-->
    <form action="{{ url_for('pergunta_route.pergunta_pesquisar') }}" method="POST" class="pesquisar">
        <input type="search" name="pesquisar" id="inputPesquisar" placeholder="O que você procura?"
            autocomplete="on">

        <label for="inputPesquisar">
            <span class="icon"></span>
        </label>
    </form>

    <!--Icone de mensagens-->
    <div class="notificacao">
        <a href="{{ url_for('notificacao_route.listar_notificacoes') }}">
            <i class="bi bi-bell-fill" style="font-size: 25px;"></i>
            {% if notificacoes_nao_lidas %}
            <span class="badge bg-danger">{{ notificacoes_nao_lidas|length }}</span>
            {% endif %}
        </a>
    </div>

    <div class="img_usuario">
        <!-- Adicionar o redirecionamento para o perfil do usuário -->
        <a href="{{ url_for('usuario_route.perfil') }}">
            <img src="{{ current_user.foto_perfil if current_user.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                 alt="Foto de perfil" width="52" height="52" class="rounded-circle mb-3">
        </a>
    </div>
    {% else %}
        <li><a href="{{ url_for('cadastrar_route.cadastrar') }}" class="btn_cinza">Cadastrar</a></li>
        <li><a href="{{ url_for('login_route.login') }}" class="btn_cinza">Entrar</a></li>
    {% endif %}
</div>