<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--Link do CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/estilo.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Logo do site">
        </div>

        <form class="barra_pesquisa" action="{{ url_for('home.home') }}" method="GET">
            <input type="text" placeholder="Pesquisar...">
            <button type="submit" class="btn_cinza" style="margin-left: 15px;">Buscar</button>
        </form>

        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('blog_route.listar_blogs') }}" class="btn_cinza">Blog</a></li>
                <li><a href="{{ url_for('login_route.logout') }}" class="btn_cinza">Sair da conta</a></li>
                {% else %}
                <li><a href="{{ url_for('cadastrar_route.cadastrar') }}" class="btn_cinza">Cadastrar</a></li>
                <li><a href="{{ url_for('login_route.login') }}" class="btn_cinza">Entrar</a></li>

                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <!--Pesquisar por categorias (Filtro)-->
        <form method="GET" action="{{ url_for('home.home') }}" id="filter-form">
            <select id="categoria" name="categoria" class="btn_filtro" onchange="this.form.submit()">
                <option value="">Pesquisar por categorias</option>
                {% for categoria in categorias %}
                <option value="{{ categoria.codigo }}" {% if request.args.get('categoria')==categoria.codigo|string
                    %}selected{% endif %}>
                    {{ categoria.nome }}
                </option>
                {% endfor %}
            </select>
        </form>

        <br>

        <!--Se o usuário estiver logado-->
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('pergunta_route.perguntar') }}" class="btn_azul">Adicionar pergunta</a>
        {% endif %}

        <br><br><br>

    <!-- Perguntas realizadas pelos usuários -->
    <h2>Perguntas Recentes</h2>
    <ul>
        {% for pergunta in perguntas %}
        <div class="container_perguntas">
            <ul>
                <li class="pergunta-item">
                    <div class="img_usuario"></div>
                    <a href="{{ url_for('pergunta_route.pergunta_detalhe', pergunta_id=pergunta.codigo) }}">
                        <strong class="titulo_pergunta">{{ pergunta.titulo }}</strong>
                    </a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </main>
</body>

</html>