<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - DevSolve</title>

    <!--Arquivos extenos-->
    {% include 'arquivos_externos.html' %}
</head>

<body>
    <header>
        <!-- Botão de expandir e logo alinhados à esquerda -->
        <div class="header-left">
            <div class="btn-expandir">
                <i class="bi bi-list" id="btn-exp"></i>
            </div>
            <div class="logo">
                <a href="{{ url_for('home.homePergunta') }}">
                    <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
                </a>
            </div>
        </div>

        <!--Icone de notificação e perfil-->
        {% include 'icone_notificacao_perfil.html' %}
    </header>

    <main class="main-conteudo">
        <!--Chamando o arquivo menu_lateral.html-->
        {% include 'menu_lateral.html' %}

        <!-- Barra de Pesquisa -->
        <form class="d-flex align-items-center" role="search"
            action="{{ url_for('pergunta_route.pergunta_pesquisar') }}" method="POST" style="margin-bottom: 25px;">
            <input class="form-control me-2" type="search" name="pesquisar" placeholder="O que você procura?"
                autocomplete="on" aria-label="Pesquisar">
            <button class="btn btn-primary px-4" style="background-color: #6356e5; border-color: #6356e5;"
                type="submit">
                Pesquisar
            </button>
        </form>

        <div class="d-flex justify-content-between align-items-center">
            <!-- Botão Adicionar Pergunta -->
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('pergunta_route.perguntar') }}"
                class="btn_adicionar_pergunta_blog">
                <i class="bi bi-plus-lg"></i>
            </a>
            {% endif %}

            <!-- Botão de Filtro -->
            <button type="button" data-bs-toggle="modal" data-bs-target="#filterModal" class="btn_filtro">
                Filtrar
            </button>
        </div>

        <!-- Modal para Filtro -->
        <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #6356e5; color: #fff;">
                        <h5 class="modal-title" id="filterModalLabel">Filtrar Perguntas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            style="filter: invert(1);"></button>
                    </div>
                    <div class="modal-body">
                        <form method="GET" action="{{ url_for('home.homePergunta') }}" id="filter-form">
                            <!-- Filtro por Categorias -->
                            <div class="mb-3">
                                <h6>Categorias</h6>
                                <div class="form-check">
                                    {% for categoria in categorias %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="categorias"
                                            value="{{ categoria.codigo }}" {% if categoria.codigo in
                                            request.args.getlist('categorias') %}checked{% endif %}>
                                        <label class="form-check-label text-dark">
                                            {{ categoria.nome }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Etiquetas -->
                            <div class="mb-3" style="position: relative;">
                                <label for="etiquetas_input" class="form-label">Etiquetas</label>
                                <input type="text" id="etiquetas_input" name="etiquetas"
                                    placeholder="Digite uma etiqueta" autocomplete="off" class="form-control">
                                <ul id="etiquetas_sugestoes" class="sugestoes-lista shadow-sm"></ul>
                            </div>

                            <!-- Ordenar por -->
                            <div class="mb-3">
                                <h6>Ordenar por</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ordenar" value="recentes" {% if
                                        request.args.get('ordenar')=='recentes' or request.args.get('ordenar') is none
                                        %}checked{% endif %}>
                                    <label class="form-check-label text-dark">Mais Recentes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ordenar" value="antigas" {% if
                                        request.args.get('ordenar')=='antigas' %}checked{% endif %}>
                                    <label class="form-check-label text-dark">Mais Antigas</label>
                                </div>
                            </div>

                            <!-- Botões de Ação -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn"
                                    style="background-color: #6356e5; color: #fff;">Aplicar Filtros</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include 'Img_patrocinio.html' %}

        <br>

        <!-- Campo de perguntas realizadas pelos usuários -->
        <div class="container_perguntas">
            {% if perguntas %}
            <ul>
                {% for pergunta in perguntas %}
                <li class="pergunta-item">
                    <!--Foto de perfil-->
                    <div class="img_usuario">
                        <a
                            href="{{ url_for('usuario_route.perfil_outro_usuario', user_id=pergunta.usuario_relacionado.codigo) }}">
                            <img src="{{ pergunta.usuario_relacionado.foto_perfil if pergunta.usuario_relacionado.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                                alt="Foto de perfil" width="52" height="52" class="rounded-circle mb-3">
                        </a>
                    </div>
                    <a href="{{ url_for('pergunta_route.detalhes_pergunta', pergunta_id=pergunta.codigo) }}"
                        class="links">
                        <!--Titulo da pergunta-->
                        <strong>{{ pergunta.titulo }}</strong>
                        <!--Descrição resumida da pergunta-->
                        <p>{{ pergunta.descricao[:80] | safe }}{% if pergunta.descricao|length > 100 %}...{% endif %}
                        </p>
                        <p>Leia mais</p>
                        <br>
                        <!--Categoria-->
                        <p>{{ pergunta.categoria_relacionada.nome }}</p>
                        <!--Etiqueta da pergunta-->
                        {% for rel in pergunta.etiquetas %}
                        <p>{{ rel.nome }}</p>
                        {% endfor %}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <!--Caso na pesquisa não apareça resultados-->
            <h2 style="text-align: center;">Não encontramos resultados para '{{ pesquisa }}'. Experimente ajustar os
                termos da pesquisa ou explore outras perguntas!</h2>
            {% endif %}

            {% if pesquisa %}
            <!-- Botão para voltar à lista completa, depois de o usuário realizar a pesquisa -->
            <br>
            <div style="text-align: center; margin-top: 20px;">
                <a href="{{ url_for('home.homePergunta') }}" class="btn_roxo">Voltar para todas as perguntas</a>
            </div>

            {% else %}

            <!-- Paginação -->
            <div class="pagination-container">
                {% for page_num in pagination.iter_pages() %}
                {% if page_num %}
                <a href="{{ url_for('home.homePergunta', page=page_num) }}"
                    class="btn pagination-btn {% if page_num == pagination.page %}active{% endif %}">
                    {{ page_num }}
                </a>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>

    <!--Icone de ajuda-->
    {% include 'footer.html' %}
</body>

</html>