<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--Link do favicoon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='Imagens/Foto_logo_Icone.ico') }}"
        type="image/x-icon">

    <!--Link do CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/estilo.css') }}">

    <!--Link do bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--Arquivo JS da página home (Menu Lateral)-->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>

    <!--Arquivo JS dos avisos-->
    <script src="{{ url_for('static', filename='js/aviso.js') }}"></script>

    <!--Arquivo JS das etiquetas-->
    <script src="{{ url_for('static', filename='js/etiquetas.js') }}"></script>
</head>

<body>
    <header>
        <!--Chamando o arquivo do cabeçalho-->
        {% include 'header.html' %}
    </header>

    <!--Chamando o arquivo menu_lateral.html-->
    {% include 'menu_lateral.html' %}

    <div id="notifications"></div>

    <main>
        <!--Se o usuário estiver logado-->
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('pergunta_route.perguntar') }}" class="btn_roxo">Adicionar pergunta</a>
        {% endif %}

        <br>

        <!-- Botão de Filtro -->
        <button type="button" data-bs-toggle="modal" data-bs-target="#filterModal" class="btn_filtro"
            style="margin-top: 20px;">
            Filtrar
        </button>

        <!-- Modal para Filtro -->
        <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="filterModalLabel">Filtrar Perguntas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="GET" action="{{ url_for('home.homePergunta') }}" id="filter-form">
                            <!-- Filtro por categorias -->
                            <div class="mb-3">
                                <h6>Categorias</h6>
                                <div class="form-check">
                                    {% for categoria in categorias %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="categorias"
                                            value="{{ categoria.codigo }}" {% if categoria.codigo in
                                            request.args.getlist('categorias') %}checked{% endif %}>
                                        <label class="form-check-label">
                                            {{ categoria.nome }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div style="position: relative;">
                                <label for="etiquetas_input">Etiquetas</label>
                                <input type="text" id="etiquetas_input" name="etiquetas" placeholder="Digite uma etiqueta" autocomplete="off" class="form-control">
                                <ul id="etiquetas_sugestoes" class="sugestoes-lista"></ul>
                            </div>

                            <br>
                            
                            <!-- Ordenar por -->
                            <div class="mb-3">
                                <h6>Ordenar por</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ordenar" value="recentes" {% if
                                        request.args.get('ordenar')=='recentes' or request.args.get('ordenar') is none
                                        %}checked{% endif %}>
                                    <label class="form-check-label">Mais Recentes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ordenar" value="antigas" {% if
                                        request.args.get('ordenar')=='antigas' %}checked{% endif %}>
                                    <label class="form-check-label">Mais Antigas</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ordenar" value="sem_respostas" {%
                                        if request.args.get('ordenar')=='sem_respostas' %}checked{% endif %}>
                                    <label class="form-check-label">Sem Respostas</label>
                                </div>
                            </div>

                            <!-- Botão Aplicar Filtros -->
                            <div class="modal-footer">
                                <button type="button" class="btn_cinza" data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn_roxo">Aplicar Filtros</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>

        <!-- Campo de perguntas realizadas pelos usuários -->
        <ul>
            {% for pergunta in perguntas %}
            <div class="container_perguntas">
                <ul>
                    <li class="pergunta-item">
                        <div class="img_usuario">
                            <img src="{{ pergunta.usuario_relacionado.foto_perfil if pergunta.usuario_relacionado.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                                alt="Foto de perfil" width="52" height="52" class="rounded-circle mb-3">
                        </div>
                        <a href="{{ url_for('pergunta_route.detalhes_pergunta', pergunta_id=pergunta.codigo) }}"
                            class="links">
                            <strong>{{ pergunta.titulo }}</strong>
                            <p>{{ pergunta.descricao[:80] | safe }}{% if pergunta.descricao|length > 100 %}...{% endif
                                %}</p>
                            <p>Leia mais</p>
                            <br>
                            <p>{{ pergunta.categoria_relacionada.nome }}</p>
                            {% for rel in pergunta.etiquetas %}
                            <p>{{ rel.nome }}</p>
                            {% endfor %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </ul>
    </main>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>