<!--Carrosel de imagens de publicidade-->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!--Imagem 01-->
      <div class="carousel-item active" data-bs-interval="8000">
        <img src="{{ url_for('static', filename='Imagens/fundo_preto.avif') }}" class="d-block w-100" alt="..." class="Img_patrocinio" style="height: 130px;">
      </div>
      <!--Imagem 02-->
      <div class="carousel-item" data-bs-interval="8000">
        <img src="{{ url_for('static', filename='Imagens/fundo_preto.avif') }}" class="d-block w-100" alt="..." class="Img_patrocinio" style="height: 130px;">
      </div>
      <!--Imagem 03-->
      <div class="carousel-item" data-bs-interval="8000">
        <img src="{{ url_for('static', filename='Imagens/fundo_preto.avif') }}" class="d-block w-100" alt="..." class="Img_patrocinio" style="height: 130px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>