<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs - DevSolve</title>

    <!--Arquivos extenos-->
    {% include 'arquivos_externos.html' %}
</head>

<body>
    <header>
        <!-- Botão de expandir e logo alinhados à esquerda -->
        <div class="header-left">
            <div class="btn-expandir">
                <i class="bi bi-list" id="btn-exp"></i>
            </div>
            <div class="logo">
                <a href="{{ url_for('home.homePergunta') }}">
                    <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
                </a>
            </div>
        </div>

        <!--Icone de notificação e perfil-->
        {% include 'icone_notificacao_perfil.html' %}
    </header>

    <main class="main-conteudo" style="max-width: 1200px;">
        <div class="conteudo">
            <!--Chamando o arquivo menu_lateral.html-->
            {% include 'menu_lateral.html' %}

            <!-- Barra de Pesquisa para Blogs -->
            <form class="d-flex align-items-center" role="search" action="{{ url_for('blog_route.blog_pesquisar') }}"
                method="POST" style="margin-bottom: 25px;">
                <input class="form-control me-2" type="search" name="query" placeholder="O que você procura?"
                    autocomplete="on" aria-label="Pesquisar">
                <button class="btn btn-primary px-4" style="background-color: #6356e5; border-color: #6356e5;"
                    type="submit">
                    Pesquisar
                </button>
            </form>

            <div class="d-flex justify-content-between align-items-center">
                <!-- Botão Adicionar Blog -->
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('blog_route.criar_blog') }}" class="btn_adicionar_pergunta_blog"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar Blog">
                    <i class="bi bi-plus-lg"></i>
                </a>
                {% endif %}

                <!-- Botão de Filtro para Blogs -->
                <button type="button" data-bs-toggle="modal" data-bs-target="#filtroBlog" class="btn_filtro">
                    Filtrar
                </button>
            </div>


            <!-- Modal para Filtro -->
            <div class="modal fade" id="filtroBlog" tabindex="-1" aria-labelledby="filtroBloglLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="filterModalLabel">Filtrar Perguntas</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="GET" action="{{ url_for('blog_route.listar_blogs') }}" id="filter-form">
                                <!-- Filtro por categorias -->
                                <div class="mb-3">
                                    <h6>Categorias</h6>
                                    <div class="form-check">
                                        {% for categoria in categorias %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="categorias"
                                                value="{{ categoria.codigo }}" {% if categoria.codigo in
                                                request.args.getlist('categorias') %}checked{% endif %}>
                                            <label class="form-check-label">
                                                {{ categoria.nome }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div style="position: relative;">
                                    <label for="etiquetas_input">Etiquetas</label>
                                    <input type="text" id="etiquetas_input" name="etiquetas"
                                        placeholder="Digite uma etiqueta" autocomplete="off" class="form-control">
                                    <ul id="etiquetas_sugestoes" class="sugestoes-lista"></ul>
                                </div>

                                <br>

                                <!-- Ordenar por -->
                                <div class="mb-3">
                                    <h6>Ordenar por</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ordenar" value="recentes" {%
                                            if request.args.get('ordenar')=='recentes' or request.args.get('ordenar') is
                                            none %}checked{% endif %}>
                                        <label class="form-check-label">Mais Recentes</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ordenar" value="antigas" {%
                                            if request.args.get('ordenar')=='antigas' %}checked{% endif %}>
                                        <label class="form-check-label">Mais Antigas</label>
                                    </div>
                                </div>

                                <!-- Botão Aplicar Filtros -->
                                <div class="modal-footer">
                                    <button type="button" class="btn_cinza" data-bs-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn_roxo">Aplicar Filtros</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'Img_patrocinio.html' %}

            <br>

            <!-- Cards dos blogs -->
            <div class="container mt-5">
                {% if blogs %}
                <div class="row justify-content-center">
                    {% for blog in blogs %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
                        <div class="card flex-fill">
                            <!--Foto capa do blog-->
                            <img src="{{ blog.fotoCapa_blog if blog.fotoCapa_blog else url_for('static', filename='Imagens/default_blog_cover.png') }}"
                                alt="Foto da Capa do Blog" class="img-fluid card-img-top">
                            <div class="card-body d-flex flex-column">
                                <a href="{{ url_for('blog_route.detalhes_blog', blog_id=blog.codigo) }}"
                                    class="card-title">
                                    <!--Titulo do blog-->
                                    <h5>{{ blog.titulo }}</h5>
                                </a>
                                <!--Descrição resumida do blog-->
                                <p class="card-text">{{ blog.descricao[:40] | safe }}{% if blog.descricao|length > 40
                                    %}...{% endif %} Leia mais</p>
                                <!--Categoria do blog-->
                                <p><i class="bi bi-bookmark-fill icon_categoria"></i>{{ blog.categoria_relacionada.nome
                                    }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Paginação -->
                <div class="pagination">
                    {% for page_num in pagination.iter_pages() %}
                    {% if page_num %}
                    <a href="{{ url_for('blog_route.listar_blogs', page=page_num) }}"
                        class="btn pagination-btn {% if page_num == pagination.page %}active{% endif %}">
                        {{ page_num }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <h2 style="text-align: center;">Não encontramos resultados para '{{ pesquisa }}'. Experimente ajustar os
                    termos da pesquisa ou explore outros blogs!</h2>
                {% endif %}
            </div>

            <!--Se caso o usuário pesquisar aparece um botão no final para voltar para todos os blogs-->
            {% if pesquisa %}
            <!-- Botão para voltar à lista completa -->
            <br>
            <div style="text-align: center; margin-top: 20px;">
                <a href="{{ url_for('blog_route.listar_blogs') }}" class="btn_roxo">Voltar para todos os blogs</a>
            </div>
            {% endif %}
    </main>

    <!--Icone de ajuda-->
    {% include 'footer.html' %}
</body>

</html>