<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>

    <!--Arquivos extenos-->
    {% include 'arquivos_externos.html' %}
</head>

<body>
    <header>
        <div class="header-left">
            <div class="btn-expandir">
                <i class="bi bi-list" id="btn-exp"></i>
            </div>
            <div class="logo">
                <a href="{{ url_for('home.homePergunta') }}">
                    <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
                </a>
            </div>
        </div>

        <!--Icone de notificação e perfil-->
        {% include 'icone_notificacao_perfil.html' %}
    </header>

    <!-- Chamando o arquivo menu_lateral.html -->
    {% include 'menu_lateral.html' %}

    <main class="main-conteudo">
        <h1>Ranking dos Usuários</h1>

        <br>

        <!-- Barra de Pesquisa para Listar Usuários -->
        <form class="d-flex align-items-center" role="search" action="{{ url_for('usuario_route.listar_usuarios') }}"
            method="GET" style="margin-bottom: 25px;">
            <input class="form-control me-2" type="search" name="search" placeholder="Pesquisar usuário"
                autocomplete="on" aria-label="Pesquisar">
            <button class="btn btn-primary px-4" style="background-color: #6356e5; border-color: #6356e5;"
                type="submit">
                Pesquisar
            </button>
        </form>


        <!--Tabela de usuários-->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Classificação</th>
                    <th>Foto</th>
                    <th>Nome de Usuário</th>
                    <th>Quantidade de Pontos</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                {% set posicao, _ = obter_ranking_e_medalha(usuario.codigo) %}
                <tr>
                    <td>
                        <span>{{ posicao }}</span>
                    </td>
                    <td>
                        <a
                            href="{{ url_for('usuario_route.perfil_outro_usuario', user_id=usuario.codigo if usuario else 0) }}">
                            <img src="{{ usuario.foto_perfil if usuario.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                                alt="Foto de perfil do usuário" width="50" height="50" class="rounded-circle">
                        </a>
                    </td>
                    <td>{{ usuario.nomeUsuario }}</td>
                    <td>{{ usuario.quantidadePontos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <section class="recompensas mb-5">
            <h2 class="mb-3">Recompensas Disponíveis</h2>
            <ul class="list-group">
                {% for recompensa in recompensas %}
                    <li class="list-group-item d-flex justify-content-between align-items-center" data-pontos="{{ recompensa.pontos }}">
                        <strong>{{ recompensa.pontos }} pontos</strong> {{ recompensa.descricao }}
            
                        {% if usuario_autenticado %}
                            {% if recompensa.codigo in recompensas_resgatadas_ids %}
                                <!-- Caso a recompensa já tenha sido resgatada -->
                                <span class="btn text-muted">Resgatado</span>
                            {% else %}
                                <!-- Caso a recompensa ainda não tenha sido resgatada -->
                                <form action="{{ url_for('usuario_route.resgatar_recompensa') }}" method="POST" class="d-inline">
                                    <input type="hidden" name="pontos" value="{{ recompensa.pontos }}">
                                    <input type="hidden" name="recompensa_id" value="{{ recompensa.codigo }}">
                                    <button type="submit" class="btn_roxo">
                                        <span>Resgatar</span>
                                    </button>
                                </form>
                            {% endif %}
                        {% else %}
                            <span class="text-muted">Faça login para resgatar recompensas</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
        


    </main>

    <!--Icone de ajuda-->
    {% include 'footer.html' %}
</body>

</html>