<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>

    <!--Arquivos extenos-->
    {% include 'arquivos_externos.html' %}
</head>
<body>
    <header>
        <div class="header-left">
            <div class="btn-expandir">
                <i class="bi bi-list" id="btn-exp"></i>
            </div>
            <div class="logo">
                <a href="{{ url_for('home.homePergunta') }}">
                    <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
                </a>
            </div>
        </div>

        <!--Icone de notificação e perfil-->
        {% include 'icone_notificacao_perfil.html' %}
    </header>

    <!-- Chamando o arquivo menu_lateral.html -->
    {% include 'menu_lateral.html' %}

    <main class="main-conteudo">
        <h1>Ranking dos Usuários</h1>

        <!--Barra de pesquisa para procurar usuários-->
        <form class="d-flex" role="search" action="{{ url_for('usuario_route.listar_usuarios') }}" method="GET">
            <input class="input_roxo me-2" type="search" name="search" placeholder="Pesquisar usuário" aria-label="">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>

        <!--Tabela de usuários-->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Classificação</th>
                    <th>Foto</th>
                    <th>Nome de Usuário</th>
                    <th>Quantidade de Pontos</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                {% set posicao, _ = obter_ranking_e_medalha(usuario.codigo) %}
                <tr>
                    <td>
                        <span>{{ posicao }}</span>
                    </td>
                    <td>
                        <a
                            href="{{ url_for('usuario_route.perfil_outro_usuario', user_id=usuario.codigo if usuario else 0) }}">
                            <img src="{{ usuario.foto_perfil if usuario.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                                alt="Foto de perfil do usuário" width="50" height="50" class="rounded-circle">
                        </a>
                    </td>
                    <td>{{ usuario.nomeUsuario }}</td>
                    <td>{{ usuario.quantidadePontos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <!--Recompensas que podem ser resgatadas pelos usuários-->
        <!-- Falta fazer funcionar back-end -->
        <section class="recompensas mb-5">
            <h2 class="mb-3">Recompensas Disponíveis</h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" data-pontos="50">
                    <strong>50 pontos</strong> 10% de desconto no curso "Aprenda do zero HTML e CSS"
                    <button class="btn btn-success btn-sm resgatar">Resgatar</button>
                    <span class="msg-error" style="display: none; color: red;">Você não tem pontos suficientes</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" data-pontos="80">
                    <strong>80 pontos</strong>  30% de desconto no curso "Aprendendo Python"
                    <button class="btn btn-success btn-sm resgatar">Resgatar</button>
                    <span class="msg-error" style="display: none; color: red;">Você não tem pontos suficientes</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" data-pontos="100">
                    <strong>100 pontos</strong>  Acesso gratuito a um eBook de JavaScript
                    <button class="btn btn-success btn-sm resgatar">Resgatar</button>
                    <span class="msg-error" style="display: none; color: red;">Você não tem pontos suficientes</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" data-pontos="150">
                    <strong>150 pontos</strong>  20% de desconto no curso "Desenvolvimento Web com Flask"
                    <button class="btn btn-success btn-sm resgatar">Resgatar</button>
                    <span class="msg-error" style="display: none; color: red;">Você não tem pontos suficientes</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" data-pontos="300">
                    <strong>300 pontos</strong>  Curso avançado de "React e Redux" com 50% de desconto
                    <button class="btn btn-success btn-sm resgatar">Resgatar</button>
                    <span class="msg-error" style="display: none; color: red;">Você não tem pontos suficientes</span>
                </li>
            </ul>
        </section>
    </main>

    <!--Icone de ajuda-->
    {% include 'footer.html' %}
</body>
</html>