<!-- Menu lateral -->
<nav class="menu-lateral">
    <ul>
        <li class="item-menu {% if request.endpoint == 'home.home' %}ativo{% endif %}">
            <a href="{{ url_for('home.homePergunta') }}">
                <span class="icon"><i class="bi bi-person-raised-hand"></i></span>
                <span class="txt-link">Perguntas</span>
            </a>
        </li>
    </ul>
    <ul>
        <li class="item-menu {% if request.endpoint == 'blog_route.listar_blogs' %}ativo{% endif %}">
            <a href="{{ url_for('blog_route.listar_blogs') }}">
                <span class="icon"><i class="bi bi-file-text-fill"></i></span>
                <span class="txt-link">Blog</span>
            </a>
        </li>
    </ul>
    <ul>
        <li class="item-menu {% if request.endpoint == 'pagina_ia' %}ativo{% endif %}">
            <a href="{{ url_for('pagina_ia') }}">
                <span class="icon"><i class="bi bi-robot"></i></span>
                <span class="txt-link">I.A</span>
            </a>
        </li>
    </ul>    
    <ul>
        <li class="item-menu {% if request.endpoint == 'usuario_route.listar_usuarios' %}ativo{% endif %}">
            <a href="{{ url_for('usuario_route.listar_usuarios') }}">
                <span class="icon"><i class="bi bi-people-fill"></i></span>
                <span class="txt-link">Usuários</span>
            </a>
        </li>
    </ul>
</nav>
