<!-- Menu lateral -->
<nav class="menu-lateral">
    <ul>
        <!--Perguntas-->
        <li class="item-menu {% if request.endpoint == 'home.homePergunta' %}ativo{% endif %}">
            <a href="{{ url_for('home.homePergunta') }}">
                <span class="icon"><i class="bi bi-person-raised-hand"></i></span>
                <span class="txt-link">Perguntas</span>
            </a>
        </li>
    </ul>
    <ul>
        <!--Blogs-->
        <li class="item-menu {% if request.endpoint == 'blog_route.listar_blogs' %}ativo{% endif %}">
            <a href="{{ url_for('blog_route.listar_blogs') }}">
                <span class="icon"><i class="bi bi-file-text-fill"></i></span>
                <span class="txt-link">Blog</span>
            </a>
        </li>
    </ul>
    <ul>
        <!--Etiquetas-->
        <li class="item-menu {% if request.endpoint == 'etiqueta.etiqueta' or request.endpoint == 'etiqueta.mostrar_etiqueta' %}ativo{% endif %}">
            <a href="{{ url_for('etiqueta.etiqueta') }}">
                <span class="icon"><i class="bi bi-tags-fill"></i></span>
                <span class="txt-link">Etiquetas</span>
            </a>
        </li>
    </ul>
    <ul>
        <!--Usuários-->
        <li class="item-menu {% if request.endpoint == 'usuario_route.listar_usuarios' %}ativo{% endif %}">
            <a href="{{ url_for('usuario_route.listar_usuarios') }}">
                <span class="icon"><i class="bi bi-people-fill"></i></span>
                <span class="txt-link">Usuários</span>
            </a>
        </li>
    </ul>
    <ul>
        <!--Recompensas-->
        <li class="item-menu {% if request.endpoint == 'recompensas.recompensas' %}ativo{% endif %}">
            <a href="{{ url_for('recompensas.recompensas') }}">
                <span class="icon"><i class="bi bi-award-fill"></i></span>
                <span class="txt-link">Recompensas</span>
            </a>
        </li>
    </ul>
</nav>
