<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações - DevSolve</title>

    <!--Arquivos extenos-->
    {% include 'arquivos_externos.html' %}
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home.homePergunta') }}">
                <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
            </a>
        </div>
    </header>

    <main>
        <ul>
            {% for notificacao in notificacoes %}
            <div class="pergunta-item">
                <li id="notificacao-{{ notificacao.codigo }}">
                    <div>
                        <!--Msg da notificação com a data-->
                        {{ notificacao.mensagem }} - <em>{{ notificacao.data_criacao.strftime('%d/%m/%Y') }}</em>
                    </div>

                    <br>

                    <!--Botões das notificações-->
                    <div class="actions" style="margin-right: 10px; text-align: center;">
                        <form
                            action="{{ url_for('notificacao_route.marcar_como_lida', notificacao_id=notificacao.codigo) }}"
                            method="POST" style="display:inline;">
                            <!--Marcar como lida para excluir notificação-->
                            <button type="submit" class="btn-marcar-lida">Marcar como lida</button>
                        </form>

                        {% if notificacao.codPergunta %}
                        <!-- Link para a pergunta, caso a notificação seja de pergunta -->
                        <a href="{{ url_for('pergunta_route.detalhes_pergunta', pergunta_id=notificacao.codPergunta) }}"
                            class="btn_roxo">Ver Pergunta</a>
                        {% elif notificacao.codBlog %}
                        <!-- Link para o blog, caso a notificação seja de blog -->
                        <a href="{{ url_for('blog_route.detalhes_blog', blog_id=notificacao.codBlog) }}"
                            class="btn_roxo">Ver Blog</a>
                        {% endif %}
                    </div>
                </li>
            </div>
            {% endfor %}
        </ul>
    </main>
</body>

</html>