<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações</title>
    <!--Link do quilljs, editor de texto online-->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    
    <!--Link do bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!--Link do CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/estilo.css') }}">

    <!--Link do favicoon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='Imagens/Foto_logo_Icone.ico') }}"
        type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--Arquivo JS da pesquisa de etiquetas-->
    <script src="{{ url_for('static', filename='js/etiquetas.js') }}"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home.homePergunta') }}">
                <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
            </a>
        </div>
    </header>

    <main>
        <ul>
            {% for notificacao in notificacoes %}
            <li id="notificacao-{{ notificacao.codigo }}">
                {{ notificacao.mensagem }} - <em>{{ notificacao.data_criacao.strftime('%d-%m-%Y %H:%M') }}</em>
                <form action="{{ url_for('notificacao_route.deletar_notificacao', notificacao_id=notificacao.codigo) }}" method="POST" 
                    onsubmit="deletarNotificacao({{ notificacao.codigo }}); return false;" style="display:inline;">
                    <button type="submit" class="btn btn-link">Marcar como lida</button>
                </form>

                <a href="{{ url_for('pergunta_route.detalhes_pergunta', pergunta_id=notificacao.codPergunta) }}" 
                   class="btn btn-link">Ver Pergunta</a>
            </li>
            {% endfor %}
        </ul>
    </main>

    <script>
        function deletarNotificacao(notificacaoId) {
            // Esconde o item da lista de notificações
            var notificacaoElemento = document.getElementById('notificacao-' + notificacaoId);
            if (notificacaoElemento) {
                notificacaoElemento.style.display = 'none';
            }
        }
    </script>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
