<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{ usuario.nomeUsuario }} - DevSolve</title>

    <!--Link do bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--Link do CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/estilo.css') }}">

    <!--Icones-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!--Link do favicoon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='Imagens/Foto_logo_Icone.ico') }}"
        type="image/x-icon">

    <!--Arquivo JS dos avisos-->
    <script src="{{ url_for('static', filename='js/aviso.js') }}"></script>
</head>

<body>
    <header>
        <!-- Botão de expandir e logo alinhados à esquerda -->
        <div class="header-left">
            <div class="btn-expandir">
                <i class="bi bi-list" id="btn-exp"></i>
            </div>
            <div class="logo">
                <a href="{{ url_for('home.homePergunta') }}">
                    <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}" alt="Logo do site">
                </a>
            </div>
        </div>
    </header>

    <main class="main-conteudo">
        <!--Chamando o arquivo menu_lateral.html-->
        {% include 'menu_lateral.html' %}

        <!--Foto do usuário-->
        <div class="d-flex align-items-center mb-4 justify-content-between position-relative">
            <div class="d-flex flex-column flex-sm-row align-items-center">
                <!-- Foto de Perfil -->
                <div class="position-relative mb-3 mb-sm-0 me-sm-3">
                    <img src="{{ usuario.foto_perfil if current_user.foto_perfil else url_for('static', filename='Imagens/default_user.png') }}"
                        alt="Foto de Perfil" width="150" height="150" class="rounded-3">
                </div>

                <!-- Informações do usuário -->
                <div class="text-center text-sm-start">
                    <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-2">
                        <h2 class="me-2">{{ usuario.nomeUsuario }}</h2>

                        <!-- Se o usuário for o dono do perfil, poderá editar e fazer o logout -->
                        {% if current_user.is_authenticated and current_user.codigo == usuario.codigo %}
                        <div class="d-flex">
                            <!-- Icone de Editar -->
                            <button type="button" class="btn btn-link p-0" style="color: black;" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <i class="fas fa-pencil-alt" style="font-size: 18px;"></i>
                            </button>
                            <!-- Icone de Logout -->
                            <a href="{{ url_for('login_route.logout') }}" class="btn btn-link p-0 ms-2"
                                style="color: black;">
                                <i class="bi bi-box-arrow-left" style="font-size: 22px;"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>

                    <!-- Desde quando o usuário está no DevSolve -->
                    <p class="mb-3">Membro do DevSolve desde {{ usuario.data_criacao.strftime('%Y') }}</p>

                    <!-- Contagem de estatísticas -->
                    <div class="d-flex justify-content-center justify-content-sm-start gap-3">
                        <div>{{ perguntas_count or 0 }} Perguntas</div>
                        <div>{{ respostas_count or 0 }} Respostas</div>
                        <div>{{ usuario.votos_verificados or 0 }} Verificados</div>
                        <div>{{ blogs_count or 0 }} Blogs</div>
                        <div>{{ usuario.denuncias_count or 0 }} Denúncias</div>
                        <div>{{ usuario.quantidadePontos or 0 }} Pontos</div>
                    </div>
                </div>
            </div>


            <!-- Medalha de classificação -->
            <div class="position-absolute end-4" style="right: 20px; top: 50%; transform: translateY(-50%);">
                <div class="d-flex flex-column align-items-center">
                    <!-- Número da posição -->
                    <span style="font-size: 30px; color: {{ medalha.cor }};">{{ medalha.numero }}</span>
                    <!-- Ícone do troféu com a cor apropriada -->
                    <i class="bi bi-trophy-fill" style="font-size: 50px; color: {{ medalha.cor }};"></i>
                </div>
            </div>
        </div>

        <h2 style="text-align: center;">{% if moderador == 1 %}Moderador do DevSolve{% endif %}</h2>
        
        <!-- Seção "Sobre Mim" -->
        <h2 class="mt-4">Sobre mim</h2>
        <p>{{ usuario.sobre if usuario.sobre else 'Nada aqui ainda.' }}</p>

        <!-- Modal de edição de usuário -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar perfil</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('usuario_route.editar_perfil') }}" method="POST"
                            enctype="multipart/form-data">
                            <div class="mb-3">
                                <!--Mudar o nome de usuário-->
                                <label for="nomeUsuario">Nome de Usuário Atual:</label>
                                <input type="text" name="nomeUsuario" id="nomeUsuario"
                                    value="{{ current_user.nomeUsuario }}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <!--Sobre Você-->
                                <label for="sobre">Sobre você:</label>
                                <textarea name="sobre" id="sobre" class="form-control" style="height: 200px;"
                                    placeholder="Escreva sobre sua trajetória profissional, as linguagens de programação que você estudou ou com as quais trabalha atualmente...">{{ sobre }}</textarea>
                            </div>
                            <!--Adicionar foto-->
                            <label for="imagem">Selecione uma nova foto:</label>
                            <input class="form-control" type="file" id="imagem" name="imagem" accept="image/*">
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn_cinza" data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn_roxo">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Minhas Perguntas -->
        <h2 class="mt-5">Minhas Perguntas</h2>
        <ul class="list-group mb-5">
            {% for pergunta in perguntas %}
            <li class="list-group-item">
                <a href="{{ url_for('pergunta_route.detalhes_pergunta', pergunta_id=pergunta.codigo) }}">
                    {{ pergunta.titulo }}
                </a>
                <small class="text-muted"> - Publicada em {{ pergunta.data_criacao.strftime('%d/%m/%Y') }}</small>
            </li>
            {% else %}
            <p class="text-muted">Você ainda não fez nenhuma pergunta.</p>
            {% endfor %}
        </ul>

        <!-- Meus Blogs -->
        <h2>Meus Blogs</h2>
        <ul class="list-group mb-5">
            {% for blog in blogs %}
            <li class="list-group-item">
                <a href="{{ url_for('blog_route.detalhes_blog', blog_id=blog.codigo) }}">
                    {{ blog.titulo }}
                </a>
                <small class="text-muted"> - Publicado em {{ blog.data_criacao.strftime('%d/%m/%Y') }}</small>
            </li>
            {% else %}
            <p class="text-muted">Você ainda não escreveu nenhum blog.</p>
            {% endfor %}
        </ul>

        <!-- Etiquetas Mais Usadas -->
        <h2>Etiquetas Mais Usadas</h2>
        <ul class="list-group mb-5">
            {% for etiqueta, count in etiquetas_mais_usadas %}
            <li class="list-group-item">
                <p>{{ etiqueta }} foi usado {{ count }} {{ 'vez' if count == 1 else 'vezes' }}</p>
            </li>
            {% else %}
            <p class="list-group-item text-muted">Nenhuma etiqueta usada ainda.</p>
            {% endfor %}
        </ul>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!--Link do JS do menu lateral-->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>