<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pergunta.titulo }}</title>
    <!--Link do CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/estilo.css') }}">

    <!--Link do bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--Link do favicoon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='Imagens/Foto_logo_Icone.ico') }}" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='Imagens/Foto_logo.png') }}"alt="Logo do site">
        </div>
    </header>

    <main>
        <h1>{{ pergunta.titulo }}</h1>
        <br>
        <div>
            {{ pergunta.descricao | safe }}
        </div>
        <br>
        <p><em>{{ pergunta.data_criacao.strftime('%d-%m-%y %H:%M:%S') }}</em></p>
        <br>
        <a href="{{ url_for('home.home') }}">Voltar para a home</a>
        <br>
        {% if current_user.codigo == pergunta.codUsuario %}
        <a href="{{ url_for('pergunta_route.editar_pergunta', pergunta_id=pergunta.codigo) }}">Editar pergunta</a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <h3>Deixe seu Comentário</h3>
        <form action="{{ url_for('pergunta_route.pergunta_detalhe', pergunta_id=pergunta.codigo) }}" method="POST">
            <label for="comentario">Seu Comentário:</label>
            <br>
            <textarea name="conteudo_comentario" id="comentario" rows="5" required></textarea><br>
            <button type="submit">Enviar Comentário</button>
        </form>
        {% else %}
        <p><a href="{{ url_for('login_route.login') }}">Faça login para comentar.</a></p>
        {% endif %}
        <h2>Comentários</h2>
        <ul>
            {% if comentarios %}
                {% for comentario in comentarios %}
                    <li>
                        {{ comentario.comentario }} - <em>{{ comentario.usuario_relacionado.nomeUsuario }}</em>
                        {% if current_user.codigo == comentario.codUsuario %}
                            <form action="{{ url_for('pergunta_route.excluir_comentario', comentario_id=comentario.codigo) }}" method="POST" onsubmit="return confirm('Você tem certeza que deseja excluir este comentário?');" style="display:inline;">
                                <button type="submit">Excluir</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
                <p>Não há comentários ainda. Seja o primeiro a comentar!</p>
            {% endif %}
        </ul>

    </main>
</body>
</html>
